.arrow
    margin-top: 136px
.arrow__icon
    animation: move 0.4s infinite linear
    animation-fill-mode: both
    animation-direction: alternate-reverse


@keyframes move
    0%
       transform: translateY(8px) 
    100%
       transform: translateY(-8px) 