@import Variables
@font-face
    font-family: Aeonik
    src: url(../../fonts/Aeonik-light.otf)
    font-weight: 300
@font-face
    font-family: Aeonik
    src: url(../../fonts/Aeonik-regular.otf)
    font-weight: 400
@font-face
    font-family: Aeonik
    src: url(../../fonts/Aeonik-Medium.otf)
    font-weight: 500

*,body
    font-family: Aeonik !important

.header
    .arquivo
        font-size: 1rem
        font-weight: 400
        line-height: 18.4px
        color: #fff

.main
    .main__title
        font-size: 3rem
        font-weight: 300
        line-height: 96px
        color: #fff

.projects
    .projects__tag
        font-size: 14px
        line-height: 16.1px
        font-weight: 500
        color: #000
    .projects__card-subTitle
        font-size: 1rem
        line-height: 18.4px
        color: #fff
        font-weight: 300
    .projects__title
        font-size: 1.5rem
        line-height: 27.6px
        color: #fff
        font-weight: 400

.footer
    .footer__link
        font-size: 1rem
        line-height: 18.4px
        font-weight: 400
        color: #fff
    .footer__copyright
        p
            font-size: 12px
            font-weight: 400
            line-height: 13.8px
            color: #fff
.main-arquivo__title
    font-size: 124px
    line-height: 200%
    font-weight:300
@media screen and (max-width: $tablet)
    .main
        .main__title-mobile
            font-size: 36px
            line-height: 76.8px
            font-weight: 300
    .projects
        .projects__tag
            font-size: 14px
            line-height: 16.1px
            font-weight: 500
            color: #000
        .projects__card-subTitle
            font-size: 1rem
            line-height: 18.4px
            color: #fff
            font-weight: 300
        .projects__title
            font-size: 1rem
            line-height: 27.6px
            color: #fff
            font-weight: 400
@media screen and (max-width: $tablet)
    .main__title-mobile
        font-size: 28px