@import Variables
.footer
    margin-top: 124px
    background: #131416
    padding: 1.5rem 3rem
    display: flex
    flex-direction: column
    gap: 2.5rem
.footer__copyright 
    display: flex
    flex-direction: column
    gap: 0.5rem
.footer__line
    width: 100%
    height: 1px
    background: hsla(0, 0%, 100%, 0.2)
.footer__links
    display: flex
    justify-content: space-between
    align-items: center
.footer__list
    list-style-type: none
    padding: 0
    display: flex
    gap: 1.5rem

.footer__link
    display: flex
    align-items: center
    padding: 0.5rem
    gap: 0.8rem
    text-decoration: none
    transition: 0.1s ease
    border-radius: 4px
    &:hover
        background: #FFFFFF1A
    &:active
        background: #FFFFFF0A
    &:visited
        background: #FFFFFF0A !important

@media screen and (max-width: $tablet)
    .footer
        flex-direction: column
        padding: 1.5rem 1.5rem
    .footer__links
        flex-direction: column
        align-items: flex-start
        gap: 1.5rem

@media screen and (max-width: $phone)
    .footer__list
        gap: 0.1rem
