.main
    margin-top: 124px
.main__title
    font-size: 48px
    margin: 0
    line-height: 96px
    display: flex
    flex-wrap: wrap
    align-items: center
    column-gap: 0.3rem
    &:hover
        .cursor
            animation: cursor 0.5s forwards
    .main__title-normal
        &:hover
            pointer-events: none !important

.main__title-hover
    padding: 1rem 0.5rem
    text-decoration: underline
    text-decoration-thickness: 2px
.main__title-normal
    pointer-events: none !important
        

        
    

.box-hover
    position: absolute
    align-items: flex-start
    display: flex
    top: 0
    left: 0
    z-index: 5
    transition: all 0.5s ease
    animation: delay .5s ease forwards
    width: 100%
    height: 100vh
    pointer-events: none
.delay
    animation: delay 0.5s ease-in-out forwards
.cursor
    width: 20px
    height: 20px
    border-radius: 16px
    background: #fff
    position: fixed
    pointer-events: none
    mix-blend-mode: difference


@keyframes cursor
    0%
        transform: scale(0)
    100%
        transform: scale(3)
        
@keyframes delay
    0%
        background: transparent
        opacity: 0
        
    100%
        background: #000000CC
        opacity: 1
        
        

    
   
    
    
    